<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Medical Image Denoising</title>
    <style>
        #head{
            padding: 10px 10px;
            background-color: rgb(192, 131, 18);
            margin: 40px 100px;

        }
        .input{
            padding: 5px 10px;
            border-radius: 14px;
        }

    </style>
</head>
<body>
    <div id="head" style="color:rgb(14, 16, 14);" class="container">
        <h2 class='container-heading'><span class="heading_font">Medical Image Denoising</span></h2>
        <h4 class="text-center mt-1"><u>CitiusTech</u></h4>
    </div>
</body>

</html>